.Battle {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 800px;
    width: 800px;
}


.BattleHalf {
    border: 2px solid black;
    height: 800px;
    width: 400px;
}

.creature-div {
    border: 1px solid black;
}

.Cell {
    height: 60px;
    width: 60px;
    background-color: rgb(130, 130, 245);
    cursor: pointer;
    border: black 1px solid;
}

.Bold {
    border: 5px solid black;
}

.Active {
    color: red;
    font-weight: 900;
    text-decoration: underline;
}

.blue {
    background-color: rgb(81, 104, 233);
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.Cell:hover {
    background-color: yellow;
}

.dead-img {
    opacity: 0.4;
}

.dead-text {
    opacity: 0.4;
    text-decoration: line-through;
}

.turn-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 10%;
}

.turn-div {
    border: 1px 2px solid black;
    /* bor */
    padding: 0 1rem;
}