.Battle {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 800px;
    width: 800px;
}


.BattleHalf {
    border: 2px solid black;
    height: 800px;
    width: 400px;
}

.creature-div {
    border: 1px solid black;
}

.Cell {
    height: 60px;
    width: 60px;
    background-color: rgb(130, 130, 245);
    cursor: pointer;
    border: black 1px solid;
}

.Bold {
    border: 5px solid red;
}

.Active {
    color: red;
    font-weight: 900;
    text-decoration: underline;
}